.menu-item:focused {
     -fx-background-color: #969A9F;
}

button.actionButtonDefault {
    -fx-background-color: #00FF00; /* Green */
}

button.actionButtonNext {
    -fx-background-color: #FFFF00; /* Yellow */
}

button.actionButtonStop {
    -fx-background-color: #FF0000; /* Red */
}

.tooltip {
    -fx-background-color: #FBFBFB; /* #969A9F or  #F0F0F0*/
}

.root {
    -fx-accent: #969A9F;
    -fx-focus-color: #969A9F;
}

#sizeCol .table-cell {
    -fx-alignment: baseline-right;
}

/*.table-cell {
    -fx-alignment: CENTER;
}*/
