.menu-item:focused {
     -fx-background-color: #969A9F;
}

button.actionButtonDefault {
    -fx-background-color: #00FF00; /* Green */
}

button.actionButtonNext {
    -fx-background-color: #FFFF00; /* Yellow */
}

button.actionButtonStop {
    -fx-background-color: #FF0000; /* Red */
}
